body {
  font-family: "Tahoma", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  direction: rtl;
}

.navbar {
  background-color: #0077b5; /* آبی شبیه لینکدین */
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

section {
  padding: 40px;
}

.letter-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.letter-card img {
  max-width: 100%;
  border-radius: 5px;
}
